<section>
	<h1>技术博客</h1>
  	<ul>
    <li>
      <a href="http://coolshell.cn/">酷壳</a>
    </li>
    <li>
      <a href="http://mindhacks.cn/">刘未鹏</a>
    </li>
    <li>
      <a href="http://blog.codingnow.com/">云风</a>
    </li>
    <li>
      <a href="http://www.cnblogs.com/Solstice/">陈硕</a>
    </li>
	<li>
      <a href="http://rdc.taobao.com/blog/cs/">淘宝核心系统团队博客</a>
    </li>
	<li>
      <a href="http://www.searchtb.com/">搜索技术博客－淘宝</a>
    </li>
	<li>
      <a href="http://www.matrix67.com/blog/">matrix67</a>
    </li>
	<li>
      <a href="http://blog.csdn.net/v_JULY_v">结构之法 算法之道</a>
    </li>
    <li>
      <a href="http://ioutlier.com/">Life As An Outlier</a>
    </li>
	<li>
      <a href="http://www.diguage.com/">地瓜哥</a>
    </li>
	<li>
      <a href="http://blog.csdn.net/huangminqiang201209">生命不息，奋斗不止</a>
    </li>
	<li>
      <a href="http://blog.csdn.net/tianmo2010">tianmo2010的专栏</a>
    </li>                          
	<li>
      <a href="http://tonybai.com/">Tony Bai</a>
    </li>        
	<li>
      <a href="http://www.roboby.com/">Roboby's Home</a>
    </li>
	<li>
      <a href="http://www.zhizhihu.com/">丕子</a>
    </li>
	<li>
      <a href="http://www.wuzesheng.com/">小武哥的博客</a>
    </li>
	<li>
      <a href="http://imtx.me">Tualatrix</a>
    </li>         
	<li>
      <a href="http://taosay.net/">道哥的黑板报</a>
    </li>
	<li>
      <a href="http://news.dbanotes.net/news">小道消息</a>
    </li>
	<li>
      <a href="http://www.cnblogs.com/ma6174/">ma6174</a>
    </li>                          
	<li>
      <a href="http://www.ofgeek.com/">极客所有</a>
    </li>
	<li>
      <a href="http://web2hack.org/">Web2.0 Hacking</a>
    </li>
	<li>
      <a href="http://www.yqshare.com/">记忆碎片</a>
    </li>                
  	<li>
      <a href="http://www.hiadmin.org/">Smart Testing</a>
    </li>
	<li>
      <a href="http://wmnmtm.blog.163.com/blog/#m=0">加菲猫</a>
    </li>
	<li>
      <a href="http://www.debugfs.com/">DeBugFs</a>
    </li>                                                                                 
	<li>
      <a href="http://www.sinosky.org/">SinoSky</a>
    </li>
	<li>
      <a href="http://www.isdiary.com/">冬不落</a>
    </li>
	<li>
      <a href="http://www.2fz1.com/">二分之一</a>
    </li>         
	<li>
      <a href="http://chuanliang.wordpress.com/">出家如初,成佛有余</a>
    </li>
	<li>
      <a href="http://xiaoxia.org/">Xiaoxia[PG]</a>
    </li>
	<li>
      <a href="http://www.cnblogs.com/h4ckF1y/">天黑再动手</a>
    </li>             
	<li>
      <a href="http://www.wypblog.com/">过往记忆</a>
    </li>
	<li>
      <a href="http://edsionte.com/techblog/">edsionte's Linuxworld|新手区</a>
    </li>
	<li>
      <a href="http://basiccoder.com/">basic coder</a>
    </li>          
	<li>
      <a href="http://www.vpsee.com/">vpsee</a>
    </li>
	<li>
      <a href="http://magnatecha.com/">Magna Techa</a>
    </li>
	<li>
      <a href="http://www.linksprite.com/cnblog/">LinkSprite中文博客</a>
    </li>
 	<li>
      <a href="http://zwmin.com/">斑纹小鱼</a>
    </li>
	<li>
      <a href="http://www.cvchina.info/">增强视觉 | 计算机视觉 增强现实</a>
    </li>
	<li>
      <a href="http://wangcong.org/blog/">A Geek's Page</a>
    </li>                
	<li>
      <a href="http://bachiscoding.com/">巴赫在编码</a>
    </li>
	<li>
      <a href="http://www.pyshell.com/">PyShell</a>
    </li>
	<li>
      <a href="http://blog.wgzhao.com/">Linux|系统管理|WEB开发</a>
    </li>
	<li>
      <a href="http://www.icnote.com/">博爱老头的草屋</a>
    </li>
	<li>
      <a href="http://daodao.org/">盗盗</a>
    </li>
	<li>
      <a href="http://jixiuf.github.io/index.html">一个人的狂欢</a>
    </li>
	<li>
      <a href="http://emacser.com/">Emacs中文网</a>
    </li>
	<li>
      <a href="http://www.zhangjunjie.net/">张俊杰·软件设计 – 与软件的灵魂共舞</a>
    </li>                                                             
	<li>
      <a href="http://blog.boluotou.com/">菠萝头说</a>
    </li>
	<li>
      <a href="http://blog.log4d.com/">Log4D</a>
    </li>
	<li>
      <a href="http://dinever.com/">dinever</a>
    </li>
	<li>
      <a href="http://ecvip.org/">黄海均的博客</a>
    </li>
  </ul>
</section>
