{% if site.post_license %}

<DIV style="font-size:12px;BORDER-BOTTOM: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BACKGROUND: #f6f6f6; HEIGHT: 120px; BORDER-TOP: #bbbbbb 1px solid; BORDER-RIGHT: #bbbbbb 1px solid" class=oec2003right>
<DIV style="MARGIN-TOP: 10px; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 10px">
<IMG alt="" src="http://blog.chinaunix.net/attachment/201307/21/25885064_1374391753SzhE.jpg" width=92 height=92></DIV>
<DIV style="LINE-HEIGHT: 200%; MARGIN-TOP: 10px; COLOR: #000000">
作者： <A href="http://txgcwm.github.io/">残剑</A> <BR>
出处： <A href="http://txgcwm.github.io/">http://txgcwm.github.io/</A>
<BR>本文基于<a target="_blank" title="Creative Commons Attribution 2.5 China Mainland License" href="http://creativecommons.org/licenses/by/2.5/cn/">
署名 2.5 中国大陆（CC BY 2.5 CN）</a> 许可协议发布，转载时请保留本文的署名
<a href="http://txgcwm.github.io/">残剑</a>。 </DIV></DIV>
{% endif %}
